.Search-Query {
  padding: .5rem 15rem .5rem 15rem;
    border: 0.125rem solid grey;
    border-radius: 2rem;
    outline: none;
    font-size: calc(16px + 1vmin);
    transition: all .3s ease-in-out;
}

.Search-section {
  position: relative;
  margin:15px
}

.Search-Query:focus {
  outline: none;
  border-color: #0882e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(34, 139, 230, 0.5);
  transform: scale(1.04);
}

.search-icon-span {
  position: inherit;
  top: 2px;
  right: 25px;
}

.search-icon-span:hover {
  color: #0882e5;
}
