@import './SASS/Modules/variables';
@import './SASS/Modules/mixins';
@import './SASS/Modules/navigation';
@import './SASS/Modules/imageComponent';
@import './SASS/Modules/searchComponent';
@import './SASS/Modules/randomImgComponent';
@import './SASS/Modules/loadingComponent';
@import './SASS/Modules/downloadComponent';
@import './SASS/Modules/chatComponent';
@import './SASS/Modules/footer';

.App {
  text-align: center;
  background: repeating-linear-gradient(21deg, $aquamarine, transparent 50%);
  overflow: auto;
}

html,
body {
  height: 100%;
  font-family: $font-family;
}
