body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Application Header CSS*/

.Fotu-header{
  background:linear-gradient(0deg, red, blue);  /*#282c34; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Fotu-header p{
  margin : 5px;
  font-family: sans-serif;
}
