.Img-section {
  display: flex;
  background: $black;
  flex-wrap: wrap;
  border: 3px solid transparent;
  border-radius: 5px;
  height: 45rem;
  width: 95%;
  margin: auto;
  margin-top: 6%;
  margin-bottom: 2%;
  overflow-y: auto;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);

  &::-webkit-scrollbar {
    display: none;
  }

  .flex-images {
    padding: 0.1%;
    transition: all 0.3s ease-in-out;
    @include imgDivSize(4, 0.2%);

    &:hover {
      transform: scale(1.05);
      position: relative;
      z-index: 1;

      .download-photo {
        display: block;
      }
    }

    .download-photo {
      display: none;
      background-color: $offwhite;
      color: $black;
      border: 2px solid transparent;
      border-radius: 20%;
      position: absolute;
      bottom: 5px;
      right: 7px;
      outline:none;
      
      &:hover {
        color:$offwhite;
        background-color:$lightblue;
      }
    }
  }
}
