.LoadingImg {
  background: $aliceblue;
  height: 35rem !important;
  // margin-top: 2%!important;

  div {
    margin: auto;
    width: -webkit-fill-available;

    img{
      @media screen and (max-width:$medium){
        width: 100%;
      }
    }
  }
}
